@import 'sass/globals';

.dependency-tree {
    width: 2070px;

    &--text-block {
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px $primary-blue;
        display: inline-block;
        height: 36px;
        overflow: hidden;
        vertical-align: top;
        width: 150px;
    }

    &--text-block-padding {
        display: inline-block;
        margin-left: 5px;
        overflow: hidden;
        width: 140px;
    }

    &--node {
        box-shadow: none;
        display: table-cell;
        font: $typography-style-13-lh1;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        width: 150px;
    }

    &--column {
        display: inline-block;
        vertical-align: top;
        width: 230px;
    }

    &--node-group {
        display: block;
        height: 36px;
        width: 230px;
    }
}
