$primary-blue: #304CB2;
$secondary-light-blue: #A4BAF2;
$primary-red: #D5152E;
$neutral-black: #000000;
$neutral-gray1: #F5F5F5;

.react-dependency-node {
    display: block;
    min-height: 51px;

    &_small {
        min-height: 36px;
    }

    &_large {
        min-height: 80px;
    }

    &--node {
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px $primary-blue;
        display: inline-block;
        height: 51px;
        vertical-align: top;

        &_small {
            height: 36px;
            width: 90px;
        }

        &_large {
            height: 80px;
        }

        &_bright {
            box-shadow: inset 0 0 0 1px $primary-red;
        }

        &_dark {
            background-color: $neutral-gray1;
            box-shadow: inset 0 0 0 1px $secondary-light-blue;
        }
    }

    &--content {
        box-shadow: none;
        display: table-cell;
        font: 13px Arial;
        vertical-align: middle;
        padding-left: 2px;
        height: 50px;

        &_main {
            font-weight: bold;
        }

        &_small {
            height: 36px;
        }

        &_large {
            height: 80px;
        }
    }

    &--connector {
        display: inline-block;
        vertical-align: top;
        width: 10px;

        &_front-top,
        &_back-top {
            display: block;
            height: 28px;
        }

        &_front-bottom,
        &_back-bottom {
            display: block;
            height: 23px;
        }

        &_has-parent,
        &_has-child {
            border-bottom: 1px solid $primary-blue;
        }

        &_sybling-above,
        &_sybling-below,
        &_pass-thru {
            border-left: 1px solid $primary-blue;
        }

        &_small {
            min-height: 36px;

            .react-dependency-node--connector_front-top,
            .react-dependency-node--connector_back-top {
                height: 20px;
            }

            .react-dependency-node--connector_front-bottom,
            .react-dependency-node--connector_back-bottom {
                height: 16px;
            }
        }

        &_large {
            min-height: 80px;

            .react-dependency-node--connector_front-top,
            .react-dependency-node--connector_back-top {
                height: 42px;
            }

            .react-dependency-node--connector_front-bottom,
            .react-dependency-node--connector_back-bottom {
                height: 38px;
            }
        }
    }
}
